extends ./main.layout.pug

block content
    .welcome-section
        section.hero
            main.container.hero__container
                header.header
                    .header__logo
                        .logo ЕА
                    nav.header__menu
                        ul.menu
                            each item in ['Обо мне', 'Навыки', 'Работы', 'Отзывы']
                                li.menu__item
                                    a.menu__link(href='#', title=`${item}`) #{item}
                    .header__btns
                        .header__socials
                            ul.socials
                                each item in ['instagram', 'github', 'vk', 'envelope']
                                        li.socials__item
                                            a.socials__link(href='#')
                                                +icon(item, 'socials__icon')
                        .header__hamburger-link
                            button(type='button').hamburger-link
                                .hamburger-link__bars
                .hero__content
                    .userinfo
                        .userinfo__title Личный сайт #[br]#[span.userinfo__occ веб-разработчика]
                        .userinfo__name Елизавета#[br]Ананьева-Рященко
                .hero__scroll-down
                    button(type='button').scroll-down-btn
                        .scroll-down-btn__inner Скролл
        section.about
            main.container.about__container
                .about__user
                    .user
                        .user__picture
                            .user__picture-style
                                +image('content/user.jpg', 'user-pic')
                        -
                            var personalInfo = [
                                                ['Проживаю', 'Одинцово'],
                                                ['Возраст', '29 лет'],
                                                ['Родилась', '2 октября 1990']
                                            ]
                        table.user__data
                            each item in personalInfo
                                tr.user__data-row
                                    td.user__data-title #{item[0]}:
                                    td.user__data-content #{item[1]}
                .about__intro
                    .about__greeting-text Привет, меня зовут
                    .about__title Елизавета #[span.user__lastname Ананьева-Рященко]
                    .about__desc
                        p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    .about__ps Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    section.values
        main.container.values__container
            .values__wrapper
                .values__title
                    .values__title-container
                        .values__title-text Чем я могу быть полезна вам
                        .values__title-subtext
                            p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
                #skills-component
    section.works
        .container.works__container
            .section-title.works__title Мои работы
            .works__content
                #works-component
    section.reviews
        .container.reviews__container
            #reviews-component
    footer.footer
        .container.footer__container
            .footer__copyright
                .footer__copyright-year &copy; 2020
                .footer__copyright-userinfo
                    .footer__copyright-username Елизавета#[br]Ананьева-Рященко
                    .footer__copyright-usertext Личный сайт #[span.footer__copyright-userocc веб-разработчика]
            .footer__info
                nav.footer__menu
                    ul.menu
                        each item in ['Обо мне', 'Навыки', 'Работы', 'Отзывы']
                            li.menu__item
                                a.menu__link(href='#', title=`${item}`) #{item}
                .footer__inner
                    .footer__inner-column.footer__inner-column--contacts
                        .footer__contacts
                            .footer__comment
                                p Этот сайт я сделала в рамках обучения в Школе онлайн образования Loftschool
                            .footer__socials
                                ul.socials.socials--round-borders
                                    each item in ['instagram', 'vk', 'github', 'envelope']
                                            li.socials__item
                                                a.socials__link(href='#')
                                                    +icon(item, 'socials__icon')    
                    .footer__inner-column.footer__inner-column--quote
                        .footer__quote
                            .footer__quote-text
                                p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете.
                            .footer__quote-author Martin Golding
    .hamburger
        .hamburger__logo
            .logo ЕА
        .hamburger__container
            a.hamburger__close(href='#')
                +icon('cross', 'hamburger__close-icon')
            .hamburger__menu
                ul.menu.menu--hamburger
                    each item in ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы']
                        li.menu__item
                            a.menu__link(href='#', title=`${item}`) #{item}
            .hamburger__socials
                ul.socials.socials--hamburger
                    each item in ['instagram', 'vk', 'github', 'envelope']
                            li.socials__item
                                a.socials__link(href='#')
                                    +icon(item, 'socials__icon')
